.u-section-1 .u-sheet-1 {
  min-height: 773px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.25rem;
  letter-spacing: 4px;
  margin: 56px 811px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 22px 698px 0 0;
}

.u-section-1 .u-blog-1 {
  min-height: 463px;
  grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
  grid-gap: 22px 22px;
  margin-top: 60px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
  grid-gap: 22px 22px;
}

.u-section-1 .u-repeater-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-1 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-1 .u-text-3 {
  margin: 17px 0 0;
}

.u-section-1 .u-metadata-1 {
  font-size: 0.875rem;
  margin: 15px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-repeater-item-2 {
  background-size: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-2 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-1 .u-text-4 {
  margin: 17px 0 0;
}

.u-section-1 .u-metadata-2 {
  font-size: 0.875rem;
  margin: 15px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-repeater-item-3 {
  background-size: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-3 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-1 .u-text-5 {
  margin: 17px 0 0;
}

.u-section-1 .u-metadata-3 {
  font-size: 0.875rem;
  margin: 15px auto 0;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 611px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 498px;
  }

  .u-section-1 .u-blog-1 {
    min-height: 380px;
  }

  .u-section-1 .u-image-1 {
    margin-right: initial;
  }

  .u-section-1 .u-image-2 {
    margin-right: initial;
  }

  .u-section-1 .u-image-3 {
    margin-right: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 899px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 391px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 278px;
  }

  .u-section-1 .u-blog-1 {
    min-height: 873px;
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 211px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 98px;
  }

  .u-section-1 .u-blog-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 11px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}