.u-section-1 .u-sheet-1 {
  min-height: 101px;
}

.u-section-1 .u-text-1 {
  margin: 21px 449px 0 450px;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  width: 755px;
  font-weight: 300;
  margin: 0 auto 22px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 349px;
    margin-left: 305px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 93px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 239px;
    margin-left: 223px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 61px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 149px;
    margin-left: 167px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 46px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 49px;
    margin-left: 84px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 8px;
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 650px;
}

.u-section-2 .u-custom-html-1 {
  margin-top: 0;
  margin-bottom: 44px;
  min-height: 600px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-custom-html-1 {
    height: auto;
  }
}