.u-section-1 {
  background-image: url("images/Picture1.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 729px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-shadow: 2px 2px 40px rgba(0,0,0,0.4);
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 318px 154px 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 40px rgba(0,0,0,0.4);
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin-left: 0;
  margin-right: 0;
  font-weight: normal;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  text-shadow: 2px 2px 26px rgba(0,0,0,0.4);
  font-size: 1.875rem;
  margin: 8px 323px 0;
}

.u-section-1 .u-text-4 {
  text-shadow: 2px 2px 26px rgba(0,0,0,0.4);
  margin-left: 0;
  margin-right: 0;
  font-weight: normal;
  font-size: 1.5rem;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 39px auto 60px;
  padding: 6px 20px 8px 19px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  margin-left: 0;
  margin-right: auto;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 248px;
    margin-left: 55px;
    margin-right: 55px;
  }

  .u-section-1 .u-text-3 {
    width: 495px;
    margin-right: 222px;
    margin-left: 224px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 156px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 112px;
    margin-left: 113px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 79px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 22px;
    margin-left: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 712px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 273px;
  }

  .u-section-1 .u-text-2 {
    font-weight: 700;
    width: auto;
    margin-top: -79px;
    margin-bottom: 0;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    font-weight: 700;
    width: auto;
    font-size: 1.875rem;
    margin-top: -36px;
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-2 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: -39px;
    margin-bottom: 60px;
    margin-left: 83px;
    padding: 6px 20px 8px 19px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 306px;
  height: 340px;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0 136px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 0 221px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0 -6px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-2 .u-image-1 {
    height: 341px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 16px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 214px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 494px;
  }

  .u-section-2 .u-image-1 {
    width: 255px;
    height: 291px;
    margin-top: 11px;
    margin-left: -13px;
    margin-right: -13px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 91px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 362px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 904px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 37px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 0 201px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 5px 201px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0 -6px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 320px;
  margin-top: 0;
  margin-bottom: 0;
  animation-duration: 1000ms;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 81px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 194px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-3 .u-image-1 {
    height: 255px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 51px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 523px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-1 {
    height: 232px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 857px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 376px;
    order: 0;
  }

  .u-section-3 .u-image-1 {
    height: 315px;
    width: 392px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 239px;
  }

  .u-section-3 .u-image-1 {
    height: 273px;
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 591px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 338px;
  height: 386px;
  animation-duration: 1000ms;
  margin: 24px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 462px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 0 220px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 0 241px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  padding: 0;
}

.u-section-4 .u-text-4 {
  letter-spacing: 0px;
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-4 .u-text-5 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-6 {
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 2px;
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 487px;
  }

  .u-section-4 .u-image-1 {
    width: 316px;
    height: 361px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 381px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 100px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 246px;
  }

  .u-section-4 .u-text-4 {
    margin-left: -6px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 6px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 373px;
  }

  .u-section-4 .u-image-1 {
    width: 255px;
    height: 291px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 87px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 388px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    width: 313px;
    height: 358px;
    margin-top: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-4 .u-image-1 {
    height: 357px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: -6px;
  }
}.u-section-5 {
  background-image: url("images/BackgroundIndonesia.png");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 550px;
}

.u-section-5 .u-text-1 {
  font-weight: 500;
  width: 812px;
  font-size: 3rem;
  margin: 92px auto 0;
}

.u-section-5 .u-image-1 {
  width: 185px;
  height: 162px;
  margin: 35px auto 60px 92px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-5 .u-image-1 {
    height: 161px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-5 .u-text-1 {
    width: 720px;
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 408px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 34px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    margin-top: 57px;
    margin-left: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 257px;
  }
}